@import url(reset.css);
body { background: url("../img/retina_dust.png") top left repeat; font-family: "trajan-pro-3-1", "trajan-pro-3-2", serif; font-size: 16px; }

.ct_sect { display: inline-block; width: 200px; font-size: 4em; text-align: center; }
.ct_sect .label { display: block; font-size: .3em; opacity: 0.8; }

.baratheon { background: #e3bb31; color: #1f1a1f; }
.baratheon a { color: #1f1a1f; }

.stark { background: #ebe8de; color: #020202; }
.stark a { color: #020202; }
.stark .label { color: #8eb574; opacity: 1; }

.lannister { background: #88322f; color: #ccb68c; }
.lannister a { color: #ccb68c; }

.tully { background: #1e1e35; color: #c2b68d; }
.tully a { color: #c2b68d; }

.targaryen { background: #060601; color: #972721; }
.targaryen a { color: #972721; }

.arryn { background: #32334e; color: #cdcfb0; }
.arryn a { color: #cdcfb0; }

.frey { background: #1e1c3c; color: #cfc7ac; }
.frey a { color: #cfc7ac; }

.tyrell { background: #899773; color: #d6af35; }
.tyrell a { color: #d6af35; }

.greyjoy { background: #0b0a07; color: #debd4e; }
.greyjoy a { color: #debd4e; }
