@import 'reset.css';
@import 'jquery.countdown.css';

// Styles for the countdown

#got_countdown span { display: block; float: left; width: 10px; height: 21px;
    background: url('../img/countdownLED.png') no-repeat 0px 0px; }
#got_countdown span.image0 { background-position: -0px 0px; }
#got_countdown span.image1 { background-position: -10px 0px; }
#got_countdown span.image2 { background-position: -20px 0px; }
#got_countdown span.image3 { background-position: -30px 0px; }
#got_countdown span.image4 { background-position: -40px 0px; }
#got_countdown span.image5 { background-position: -50px 0px; }
#got_countdown span.image6 { background-position: -60px 0px; }
#got_countdown span.image7 { background-position: -70px 0px; }
#got_countdown span.image8 { background-position: -80px 0px; }
#got_countdown span.image9 { background-position: -90px 0px; }
#got_countdown span.imageDay { background-position: -100px 0px; }
#got_countdown span.imageSep { background-position: -110px 0px; }
#got_countdown span.imageSpace { background-position: -120px 0px; }